{
  "presets": [
    ["@babel/preset-env", {
      "useBuiltIns": "entry",
      "corejs": "3.6.5",
      "targets": {
        "browsers": [
          "last 2 versions",
          ">0.5%",
          "not dead"
        ]
      }
    }]
  ]
}
